.top-menu {
    background-color: dimgrey;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

    .top-menu aside {
        width:15%;  
    }

    .top-menu img {
        max-width:75%;
        object-fit:scale-down;


    }
    nav{
        float:left;
        width:70%;
        text-align:center;
        justify-content:center;
    }
    #menutop li{
        display:inline;
    }
    #menutop ul{
    list-style-type: none;
    }
    #menutop a{
    color:white;
    text-decoration:none;
    }
    #advertise{
        text-align:center;      
    }
    .main-content {
    width: 65%; 
    background-color: white;
    padding: 20px;
    text-align:center;
    height:200px;
    }
    #content {
    display: flex;
    justify-content: space-between;
    margin: 10px 5%; 
    }
.bottom-bar {
    background-color: lightgray;
    height: 125px;
    width: 100%; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.black-bar {
    background-color: black;
    height: 300px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer {
    color: white;
}
#NewRegister {
    vertical-align: central;
    text-align: center;
}
#NewRegister h1{
    font-size:24px;
}

